<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums from hell</title>

    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />

</head>
<body>

<div id="app">
</div>


<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script type="text/javascript" src="backend.js"></script>

<script>

let baseUrl = hosts[0];
let api = getters.byAlbum;


Vue.component('item-card', {
    props: ['item'],

    data: function() {
        const defSize = 100;
        return {
            maxSize: 0,
            thmSize: defSize,
            url: baseUrl + '/images/image/' + this.item.name,
            thm: baseUrl + '/images/render/' + this.item.name + '?h=' + defSize +'&w=' + defSize
        }
    },

    template: `
        <div class="item-card">
            <img :class="{'item-card-thumb': true, 'item-checked': this.item.selected}" :src="thm" :width="this.thmSize" :height="this.thmSize" :alt="item.title"/>
            <div class="item-card-body">
                <i v-if="this.item.selected" class="icon-ok-sign item-check"></i>
                {{this.item.title}}
            </div>
        </div>
    `
});


const editAlbum = {
    props: ['album'],

    watch: {
        'album': function (newVal, oldVal) {
            console.log('Album change');
            if(this.album) {
                this.fetchAlbum(this.album);
            } else {
                this.id = this.title = this.desc = '';
                this.items = [];
            }
        }
    },

    data: function() {
        return {
            id: '',
            title: '',
            desc: '',
            items: []
        }
    },

    created () {
        console.log(`AlbumEdit Created for ${this.album}`);
        if(this.album) {
            this.fetchAlbum(this.album);
        }
    },

    methods: {

        updateAlbum: function () {
            let meh = this.album ? 'PUT' : 'POST';
            let aid = this.album ? '/'+this.album : '';
            console.log(`${meh} album '${this.title}'`);
            fetch( `${baseUrl}/albums/album${aid}?title=${this.title}&desc=${this.desc}`, {method: meh}).then(resp => resp.json())
            .then( resp => {
                this.$router.push(`/${resp._id}`);
            })
        },

        setData: function (al) {
            this.id = al._id;
            this.title = al.title;
            this.desc = al.desc;
            this.items = al.items;
            console.log(`Received album '${al._id}' with ${al.items.length} items`);
        },

        fetchAlbum: function (id) {
            console.log(`Fetching album '${id}'`);
            fetch(`${baseUrl}/albums/album/${id}`).then(resp => resp.json())
            //.then(al => setTimeout( this.setData.bind(this, al), 3000) );
            .then(al =>this.setData(al));
        },

        deleteAlbum: function() {
            console.log(`DELETE album '${this.title}'`);
            fetch( `${baseUrl}/albums/album/${this.album}`, {method: 'DELETE'})
            .then(() => this.$router.push('/'))
        },

        itemSelChange: function (item, sel) {
            console.log(`${item} sel='${sel}'`);
            let meh = sel ? 'PUT' : 'DELETE';
            fetch( `${baseUrl}/albums/items/${this.album}?items=${item}`, {method: meh})
            .then(resp => resp.json())
            .then(resp => this.setData(resp));
        },
    },

    template: `
    <div>
        <div class="album-edit">
            <table class="album-table">
            <tr>
                <td align="right">Title:</td>
                <td><input v-model="title" class="edit edit-title" placeholder="Title"></td>
            </tr>
            <tr>
                <td align="right">Description:</td>
                <td><input v-model="desc" class="edit edit-desc" placeholder="Description"></td>
            </tr>
            <tr>
                <td></td>
                <td v-if="album">
                  <button v-on:click="updateAlbum">Update</button>
                  <button v-on:click="deleteAlbum">Delete album</button>
                </td>
                <td v-else>
                    <button v-on:click="updateAlbum">Create</button>
                </td>
            </tr>
            </table>
            <p v-if="album">Selected: {{items.length}}. Click on an image to add or remove</p>
            <p v-else>Enter album Title and Description and click 'Create'</p>
        </div>

        <div v-if="album">
            <image-selector :presel="items" @itemSelChange="itemSelChange"></image-selector>
        </div>

    </div>
    `,
};


Vue.component('image-selector', {
    props: ['presel'],

    watch: {
      'presel': function (newVal, oldVal) {
          console.log('Presel change');
          this.setInitialSel()
      }
    },

    data: function() {
        return {
            items: []
        }
    },

    methods: {

        isPreSel: function (name) {
            let pre = this.presel || [];
            return pre.findIndex( item => item === name ) >= 0;
        },

        setInitialSel: function () {
            for( let idx = 0; idx < this.items.length; idx ++) {
                this.$set(this.items[idx], 'selected', this.isPreSel(this.items[idx].name));
            }
        },

        fetchItems: function () {
            let url = baseUrl + '/items/search';
            //console.log(`Fetching images for ${url}`);
            fetch(url).then(resp => resp.json())
            .then(it => {
                // filter unused? Need to add a new property for selection tracking
                this.items = it.map( el => { el.selected = this.isPreSel(el.name); return el; });
            });
        },

        toggleItemSel: function(idx) {
            let sel = !this.items[idx].selected;
            this.$set(this.items[idx], 'selected', sel);
            this.$emit('itemSelChange', this.items[idx].name, sel);
        }
    },

    created () {
        console.log(`ViewAll Created with ${this.items.length} images, ${this.presel.length} pre-selected`);
        this.fetchItems();
    },

    updated () {
        console.log(`ViewAll Updated with ${this.items.length} images, ${this.presel.length} pre-selected`);
        // this.setInitialSel();
    },

    template: `
        <div class="card-holder">
            <item-card v-for="(item, idx) in items"
                :key="item.name"
                :item="item"
                @click.native="toggleItemSel(idx)">
            </item-card>
        </div>
    `
});


Vue.component('groups-menu', {
    props: ['groups'],

    template: `
    <div class="groups-menu">
        <span v-for="grp in groups" :key="grp._id" class="menu-item">
            <router-link class="menu-link" :to="grp._id">{{grp.title}}({{grp.items.length}})</router-link>
        </span>
        <span class="menu-item">
            <router-link class="menu-button" to="/" exact>new[+]</router-link>
        </span>
    </div>
    `
});


const router = new VueRouter({
    routes: [
        {   path: '/:album?',
            component: editAlbum,
            props: true
        }
    ]
});

new Vue({
    router,
    el: '#app',
    data: {
        groups: []
    },
    created: function () {
        api.getGroups(baseUrl)
        .then( albums => {
            this.groups = albums;
        })
    },

    updated: function () {
        api.getGroups(baseUrl)
        .then( albums => {
            this.groups = albums;
        })
    },

    template: `
        <div>
            <groups-menu :groups="groups"></groups-menu>
            <router-view></router-view>
        </div>
    `

})
</script>

</body>
</html>