<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.css" />
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

    <link rel="stylesheet" href="style.css" />

</head>
<body>

<div id="app">
    <cats-menu :cats="cats"></cats-menu>
    <router-view></router-view>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>

<script>

var baseUrl = 'https://illumere.com';

Vue.component('item-view', {
    props: ['itm'],

    data: function() {
        return {
            maxSize: 0,
            url: baseUrl + '/images/image/' + this.itm.name,
            thm: baseUrl + '/images/render/' + this.itm.name + '?h=48'
        }
    },

    created: function () {
        //console.log('View create');
        if(screen && screen.availWidth) {
            this.maxSize = Math.max(screen.availWidth, screen.availHeight);
        }
        if(this.maxSize > 0 && this.maxSize <= 1024) {
            this.url = baseUrl + '/images/render/' + this.itm.name + '?h=1024';
        }
        //console.log('View created with ' + this.url);
    },

	template: `
        <div class="page">
            <img class="piece" :src="thm" :data-src="url" :width="itm.width" :height="itm.height" :alt="itm.title"/>
            <div class="title">{{itm.title}}</div>
        </div>
    `
});

Vue.component('cats-menu', {
    props: ['cats'],

    data: function() {
        return { }
    },

    template: `
    <div class="cats-menu">
        <span v-for="cat in cats" :key="cat" class="menu-item">
            <router-link class="menu-link" :to="'/'+cat">{{cat}}</router-link>
        </span>
    </div>
    `
});

const FP = {
    props: ['cat', 'img'],

    data: function() {
        return {
            items: [],
            my_cat: null
        }
    },

    methods: {
        updateAll: function () {
            if (this.my_cat !== this.cat) {
                this.my_cat = this.cat;
                let url = baseUrl + '/items/key/category?q=' + this.cat;
                //console.log(`Fetching images for ${url}`);
                fetch(url).then(resp => resp.json())
                .then(it => {
                    this.items = it;
                    //console.log(`Got ${this.items.length} items for ${this.cat}`);
                })
                .then(() => {

                    let el = $('#fullpage-' + this.cat);

                    if( el.fullpage && el.fullpage.destroy) {
                        el.fullpage.destroy('all');
                    }

                    el.fullpage({
                        css3: true,
                        scrollingSpeed: 800,
                        anchors: this.items.map(i => this.cat + '/' + i.name),
                        continuousVertical: true,
                        animateAnchor: false,
                        navigation: true,
                        navigationPosition: 'right',
                        touchSensitivity: 2,
                        onLeave: function (idx, nextIdx, dir) {
                            console.log(`onLeave: ${idx}, ${nextIdx}, ${dir}`);
                        },
                        onSlideLeave: function (link, idx, nextIdx, dir, nextSlide) {
                            console.log(`onSlideLeave: ${link}, ${idx}, ${nextIdx}, ${dir}, ${nextSlide}`);
                        }

                    });

                    if(this.img) {
                        el.fullpage.moveTo(this.cat + '/' + this.img);
                    }
                })
            }
        }
    },

    mounted () {
        console.log(`Route Mounted with ${this.cat}`);
        this.updateAll();
    },

    updated: function () {
        console.log(`Route Updated with ${this.cat}`);
        this.updateAll();
    },

    template: `
        <div :id="'fullpage-'+this.cat">
            <div v-for="itm in items" :key="itm.name" class="section" >
                <item-view :itm="itm"></item-view>
            </div>
        </div>
    `
};

const router = new VueRouter({
    routes: [
        {   path: '/:cat/:img?',
            component: FP,
            props: true
        }

    ]
});

new Vue({
    router,
    el: '#app',
    data: {
        cats: []
    },
    created: function () {
        fetch( baseUrl + '/items/distinct?key=category')
        .then (resp => resp.json())
        .then( cats => {
            this.cats = cats.filter( cat=>cat );
            //console.log(`Got ${this.cats.length} cats`);
            if( ! this.$route.params.cat ) {
                // console.log(`Initial route path: ${this.$route.path}, category ${this.$route.params.cat}`);
                router.replace('/' + this.cats[0]);
            }
        })
    }
})
</script>

</body>
</html>