<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.css" />
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

    <link rel="stylesheet" href="style.css" />

</head>
<body>

<div id="app">
</div>


<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>

<script type="text/javascript" src="backend.js"></script>

<script>

let baseUrl = hosts[0];
let api = getters.byAlbum;

Vue.component('item-view', {
    props: ['item'],

    data: function() {
        return {
            maxSize: 0,
            url: baseUrl + '/images/render/' + this.item.name + '?h=1600',
            thm: baseUrl + '/images/render/' + this.item.name + '?h=48'
        }
    },

    created: function () {
        //console.log('View create');
        if(screen && screen.availWidth) {
            this.maxSize = Math.max(screen.availWidth, screen.availHeight);
        }
        if(this.maxSize > 0 && this.maxSize <= 1024) {
            this.url = baseUrl + '/images/render/' + this.item.name + '?h=900';
        }
        //console.log('View created with ' + this.url);
    },

    template: `
        <div class="page">
            <img class="piece" :src="thm" :data-src="url" :width="item.width" :height="item.height" :alt="item.title"/>
            <div class="title">{{item.title}}</div>
        </div>
    `
});


Vue.component('groups-menu', {
    props: ['groups'],


    template: `
    <div class="groups-menu">
        <span v-for="grp in groups" :key="grp._id" class="menu-item">
            <router-link class="menu-link" :to="'/'+grp._id">{{grp.title}}</router-link>
        </span>
    </div>
    `
});

const fullPage = {
    props: ['groupkey', 'item'],

    data: function() {
        return {
            items: [],
            my_key: null
        }
    },

    methods: {
        updateAll: function () {
            if (this.my_key !== this.groupkey) {
                this.my_key = this.groupkey;

                api.getItems(baseUrl, this.groupkey)
                .then(it => {
                    this.items = it;
                    //console.log(`Got ${this.items.length} items for ${this.group}`);
                })
                .then(() => {

                    let el = $('#fullpage-' + this.groupkey);

                    if( el.fullpage && el.fullpage.destroy) {
                        el.fullpage.destroy('all');
                    }

                    el.fullpage({
                        css3: true,
                        scrollingSpeed: 800,
                        anchors: this.items.map(i => this.groupkey + '/' + i.name),
                        continuousVertical: true,
                        animateAnchor: false,
                        navigation: true,
                        navigationPosition: 'right',
                        touchSensitivity: 2,
                        onLeave: function (idx, nextIdx, dir) {
                            console.log(`onLeave: ${idx}, ${nextIdx}, ${dir}`);
                        }
                    });

                    if(this.item) {
                        el.fullpage.moveTo(this.groupkey + '/' + this.item);
                    }
                })
            }
        }
    },

    mounted () {
        console.log(`Route Mounted with ${this.groupkey}`);
        this.updateAll();
    },

    updated: function () {
        console.log(`Route Updated with ${this.groupkey}`);
        this.updateAll();
    },

    template: `
        <div :id="'fullpage-'+this.groupkey">
            <div v-for="itm in items" :key="itm.name" class="section" >
                <item-view :item="itm"></item-view>
            </div>
        </div>
    `
};

const router = new VueRouter({
    routes: [
        {   path: '/:groupkey/:item?',
            component: fullPage,
            props: true
        }
    ]
});

new Vue({
    router,
    el: '#app',
    data: {
        groups: []
    },
    created: function () {
        api.getGroups(baseUrl).then( groups => {
            this.groups = groups;
            console.log(`Got ${this.groups.length} groups`);
            console.log(`Initial route path: ${this.$route.path}, group ${this.$route.params.group}`);
            if( !this.$route.params.group ) {
                router.replace('/' + this.groups[0]._id);
            }
        })
    },

    template: `
        <div>
            <groups-menu :groups="groups"></groups-menu>
            <router-view :groups="groups"></router-view>
        </div>
    `
})
</script>

</body>
</html>